# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
dist/
build/
*.so

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Virtual environments
venv/
env/
.env/


# preliminary analysis
Analyisis/0_preliminary_analysis/preliminary_analysis.ipynb